@model Product

<div class="row">
    <div class="div-box">
        <form asp-action="Create">
            @Html.EditorForModel()

            <div class="div-box">
                <input type="submit" value="Create" class="button" />
            </div>
        </form>
    </div>
</div>