

<div class="col-6 col-12-medium">

    <section>
        <h2>Продукция компании:</h2>
        <ul class="big-image-list">
            <p>
                <a asp-action="Add">Добавить</a>
            </p>
            <li>
                @foreach (Product product in ViewBag.Products)
                {
                    <a href="#"><img src="~/images/Лестница.jpg" alt="" class="left" /></a>

                    <h3>@product.Name</h3>
                    <p>
                        @product.Description
                    </p>
                    <p>
                        <a asp-action="Add">Добавить</a>
                    </p>
                }
            </li>
        </ul>
    </section>

</div>