<div class="col-6 col-12-medium">

    <section>
        <h2>Продукция компании:</h2>
        <ul class="big-image-list">
            <li>
                <a href="#"><img src="~/images/Лестница.jpg" alt="" class="left" /></a>
                <h3>Лестница</h3>
                <p>
                    Лестница с широкой, радиусной пригласительной ступенью, 
                    с большим количеством радиусных элементов из массива дуба на тетивах, 
                    открытая, без подступенков.
                </p>
            </li>
        </ul>
    </section>

</div>